.hint-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-self: center; */
  justify-content: center;
  /* margin: auto; */
  /* height: 100%; */
  width: 100%;
  margin-top: 300px;
}

p.hint {
  font-size: large;
}

img.hint {
  width: 250px;
}