.choices-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.choice-element {
  display: inline-block;
  margin-top: 1px;
}

.choice-element>label {
  font-size: large;
}